!!! 5
html(lang='en')
  head
      meta(charset='utf-8')
      title GVine
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='description', content='Create animated gifs from vine videos')
      meta(name='author', content='Jordi Romero')

      link(href='/bootstrap.min.css', rel='stylesheet')
      link(href='/app.css', rel='stylesheet')

      link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700', rel='stylesheet', type='text/css')
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1022782-15', 'gvine.co');
      ga('send', 'pageview');

  body
    #fb-root
    script
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=244996862302575";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .header
      .bg_wrapper
      .container-narrow
        a.logo(href='/') GVine
        block content

    .footer
      .container-narrow
        .jordi-profile
          img(src="/jrom-profile.jpeg", alt='Jordi Romero')
          h3 &copy;
            b Jordi Romero 2013
          .twiter-follow
            a.twitter-follow-button(href="https://twitter.com/jordiromero", data-show-count="false", data-show-screen-name="false", data-dnt="true") Follow @jordiromero
          p GVine is a fun project created by Jordi Romero and is not associated with or endorsed by Vine or Twitter.
          p Also, this has nothing to do with the gin with that name, although it's a really good gin.

        span.designed_by
          | Designed by
          a(href="https://twitter.com/josep_martins") @josep_martins

    script(src='/jquery.min.js')
    block scripts
