//normalize from necolas
@import "normalize";

// Variables
@green: #00b489;
@green2: #1AC49B;
@dark-green: #009773;
@red: #d55032;
@red2: #c5403f;
@dark: #19141f;
@white: #fff;
@main-font: 'Yanone Kaffeesatz', sans-serif;


//Animations
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100%; }
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100%; }
}
@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100%; }
}
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100%; }
}

.container-narrow {
  margin: 0 auto;
  max-width: 750px;
  padding: 0 20px;
  text-align: center;
  position: relative;
  z-index: 9999;
}

body {
  font-family: @main-font;
  color: @white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.header{
  position: relative;
  background-color: @dark;
  min-height: 100vmin;
  overflow: hidden;
}

.bg_wrapper_generated{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg_wrapper_final{
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  margin-top: -5%;
  margin-left: -10%;
  -webkit-transform: scale(5.5);
  -moz-transform: scale(5.5);
  -ms-transform: scale(5.5);
  -o-transform: scale(5.5);
  transform: scale(5.5);
  -webkit-filter: blur(5px) grayscale(0.3) brightness(0.2);
  -moz-filter: blur(5px) grayscale(0.3) brightness(0.2);
  filter: blur(5px) grayscale(0.3) brightness(0.2);
}

.bg_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg_wrapper::before, .bg_wrapper::after {
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
}
/* line 17, ../../app/styles/_backgrounds.sass */
.bg_wrapper::before {
  z-index: 1;
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  margin-top: -5%;
  margin-left: -10%;
}
/* line 26, ../../app/styles/_backgrounds.sass */
.bg_wrapper::after {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 34, ../../app/styles/_backgrounds.sass */
.bg_wrapper::before {
  -webkit-transform: scale(6.5);
  -moz-transform: scale(6.5);
  -ms-transform: scale(6.5);
  -o-transform: scale(6.5);
  transform: scale(6.5);
  -webkit-filter: blur(1px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(1px) grayscale(0.3) brightness(0.4);
  filter: blur(1px) grayscale(0.3) brightness(0.4);
  background-image: url("bg.gif");
}

.footer{
  background-color: @dark;
  padding: 6em 0;
}

.logo{
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: center 75%;
  background-color: fadeout(#000, 80%);
  border-radius: 0 0 10px 10px;
  border-bottom: 5px solid @dark;
  display: block;
  width: 150px;
  height: 100px;
  text-indent: -9999em;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 1em;
}
.urls {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Main marketing message and sign up button */

.jumbotron {
  margin: 60px 0;
  h1 {
  font-size: 72px;
  font-weight: 100;
  line-height: 1;
  }
  .btn {
  font-size: 21px;
  padding: 14px 24px;
  }
  input {
    padding: 14px;
    margin: 0 10px;
    font-size: 1.3em;
    &:focus{
      border-color: @dark;
      outline: 0;
      outline: thin dotted 9;
      -webkit-box-shadow: inset 0 1px 1px fadeout(@dark, 80%), 0 0 8px fadeout(@dark, 80%);
      -moz-box-shadow: inset 0 1px 1px fadeout(@dark, 80%), 0 0 8px fadeout(@dark, 80%);
      box-shadow: inset 0 1px 1px fadeout(@dark, 80%), 0 0 8px fadeout(@dark, 80%);
    }
  }
}

.btn-gvine{
  .linear-gradient(180deg, @green, @dark-green);
  &:hover{
    background-position: 0 0;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

ul.social {
  list-style: none;
  margin-top: 3.5em;
  li{
    display: inline-block;
    margin-left: 1em;
    background-color: rgba(0, 0, 0, .15);
    padding: 4px 4px 0;
    overflow: hidden;
    border-radius: 5px;
  }
  .twitter-post{
    width: 90px;
  }
}

.jordi-profile{
  margin-bottom: 4em;
  img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  }
  p{
    font-size: 1.4em;
    font-weight: 300;
  }
}
.twiter-follow{
  margin-bottom: 1em;
}
.designed_by{
  font-size: 1.125em;
  font-weight: 100;
  a{
    font-weight: 500;
    margin-left: 0.5em;
    color: @green;
    &:hover{
      text-decoration: none;
      color: @red;
    }
  }
}
